<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3</title>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.min.js"></script>
        <style type="text/css">  
        </style>
    </head>
    <body>      
        <h1> Q: <%= question %> </h1>
        <h1> A: <%= answer %> </h1>      
    </body>
</html>