<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3</title>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.min.js"></script>
        <style type="text/css">  
        </style>
    </head>

    <body>
        <h1>Good for Kids in Middleton</h1>
        <ul>
            <li><a href="q0/json">json</a></li>
            <li><a href="q0/html">html</a></li>
            <li><a href="q0/d3">d3</a></li>
        </ul>

        <h1>Question 1</h1>
        <ul>
            <li><a href="q1/json">json</a></li>
            <li><a href="q1/html">html</a></li>
        </ul>

        <h1>Question 2</h1>
        <ul>
            <li><a href="q2/json">json</a></li>
            <li><a href="q2/html">html</a></li>
        </ul>

        <h1>Custom D3</h1>
        <ul>
            <li><a href="q3/json">json</a></li>
            <li><a href="q3/d3">d3</a></li>
        </ul>

    </body>
</html>
